.top {
  height: 35rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.479), transparent),
    url("./web-g6a954523e_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
html {
  scroll-behavior: smooth;
}

.my-imgs {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(
    rgba(128, 0, 128, 0.704),
    rgba(255, 166, 0, 0.644)
  );
  box-shadow: 5px 2rem 3rem rgba(55, 55, 55, 0.492);
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@font-face {
  font-family: "poppins";
  src: url("./Poppins/Poppins-SemiBold.ttf");
}
.font-style-poppins {
  font-family: "poppins";
}

.font-style-new {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*====> nav */

.nav {
  background-color: rgba(9, 0, 0, 0.551);
  box-shadow: 0px 3px 1rem rgba(128, 128, 128, 0.125);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0rem;
}
.nav-text {
  font-weight: 400;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.logo-mini {
  height: 3.5rem;
  width: 3.5rem;
}

.offcanvas-trns,
.offcanvas-body {
  background-color: rgba(9, 0, 0, 0.551) !important;
  background: rgba(9, 0, 0, 0.551) !important;
}

.offcanvas {
  background-color: rgba(9, 0, 0, 0);
}

.bg-nav-mb {
  background-color: rgb(24, 16, 16);
}
.bg-none {
  background: none;
}
.pointer {
  cursor: pointer;
}

.nav-text div:hover {
  color: gold;
  transition: all ease-in-out;
  transition-duration: 200ms;
}

/* welcome-section */

.welcome-section {
  padding-top: 10rem;
  /* padding-left: 5rem; */
}

.welcome-section h1 {
  font-size: 3.5rem;
}

.blur {
  backdrop-filter: blur(3px);
  height: 35rem;
}
.name {
  color: gold;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #68390f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.text-animation {
  color: gold;
  font-size: 2.9rem;
  font-weight: 500;
}

/* intro-sec */

.intro-sec {
  min-height: 30rem;
  background-color: #202020;
  padding-top: 5rem;
}

.gif {
  height: 20rem;
  width: 25rem;
}

/* skills sec */

.skills {
  min-height: 40rem;
  background-color: #171717af;
  padding-top: 5rem;
}

.cards {
  height: 11rem;
  width: 12rem;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5rem gray;
}

.skill-icon {
  height: 5rem;
  width: 5rem;
}

.h:hover {
  box-shadow: 0px 0px 1rem orange;
}

.c:hover {
  box-shadow: 0px 0px 1rem rgb(0, 162, 255);
}

.j:hover {
  box-shadow: 0px 0px 1rem yellow;
}

.m:hover {
  box-shadow: 0px 0px 1rem green;
}
.b:hover {
  box-shadow: 0px 0px 1rem rgb(162, 16, 203);
}
.n:hover {
  box-shadow: 0px 0px 1rem lawngreen;
}

.g:hover {
  box-shadow: 0px 0px 1rem red;
}

.nx:hover {
  box-shadow: 0px 0px 1rem rgb(188, 5, 188);
}

.r:hover {
  box-shadow: 0px 0px 1rem rgb(0, 89, 255);
}

/* cert-sec */

.cert-sec {
  height: 40rem;
  width: 100%;
  background-color: #141111;
}

.certificates-img {
  height: 25rem;
  width: 30rem;
  border: 10px outset orange;
}

.certificates {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.497)),
    url("./sin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.certificates-rct {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.497)),
    url("./rct.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.certificates-mern {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.497)),
    url("./mern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.certificates-JS {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.497)),
    url("./JS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.certificates-html {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.497)),
    url("./html.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cert-btn {
  bottom: 0rem;
  height: 35% !important;
  background-color: rgba(0, 0, 0, 0.253);
}

.cert-title {
  font-size: 1.1rem;
}

.star {
  background: url("./stars.gif");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

/* projects */

.Projects {
  min-height: 30rem;
  background-color: #140a0a;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.project-sec img {
  height: 22rem;
  width: 27rem;
  opacity: 1;
}

.project-container {
  min-height: 35rem;
  width: 32%;
}

.set-button {
  background-color: rgb(202, 131, 0);
}
.unset-button {
  background-color: #492608;
}

.site-btn:hover {
  background-color: white;
  color: #141111 !important;
  cursor: pointer;
}
.site-btn-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.site-btn-right {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.border-warning-spc {
  border: 1px solid orange;
}

.offcanvas {
  width: 75vw !important;
}

/* footer */
.custom-footer {
  height: 51%;
  background-color: black;
  width: 100%;
}

.social-media-icons i {
  cursor: pointer;
}
.fb:hover {
  text-shadow: 0px 0px 5px rgb(4, 0, 255), 0px 0px 12px rgb(0, 21, 255),
    0px 0px 20px rgb(0, 21, 255), 0px 0px 30px rgb(0, 21, 255);
}
.tweet:hover {
  text-shadow: 0px 0px 5px rgb(4, 0, 255), 0px 0px 12px rgb(0, 89, 255),
    0px 0px 20px rgb(0, 89, 255), 0px 0px 30px rgb(0, 89, 255);
}
.google:hover {
  text-shadow: 0px 0px 5px rgb(255, 0, 0), 0px 0px 12px rgb(212, 255, 0),
    0px 0px 20px rgb(191, 0, 255), 0px 0px 30px rgb(0, 89, 255);
}
.insta:hover {
  text-shadow: 0px 0px 5px rgb(191, 0, 255), 0px 0px 12px rgb(191, 0, 255),
    0px 0px 20px rgb(191, 0, 255), 0px 0px 30px rgb(191, 0, 255);
}
.wp:hover {
  text-shadow: 0px 0px 5px rgb(0, 255, 115), 0px 0px 12px rgb(4, 255, 0),
    0px 0px 20px rgb(0, 255, 132), 0px 0px 30px rgb(0, 255, 17);
}
.linkdin:hover {
  text-shadow: 0px 0px 5px rgb(4, 0, 255), 0px 0px 12px rgb(0, 89, 255),
    0px 0px 20px rgb(0, 89, 255), 0px 0px 30px rgb(0, 89, 255);
}
.git:hover {
  text-shadow: 0px 0px 5px white;
}

/* media */
@media only screen and (min-width: 0px) and (max-width: 750px) {
  .project-container {
    min-height: 35rem;
    width: 95%;
  }
  .font-style-new {
    font-size: 1rem;
  }
  .welcome-section h2 {
    font-size: 1rem !important;
  }

  .welcome-section h1 {
    font-size: 1.2rem !important;
  }
  .my-imgs {
    height: 8rem;
    width: 8rem;
    background: linear-gradient(
      rgba(128, 0, 128, 0.704),
      rgba(255, 166, 0, 0.644)
    );
    box-shadow: 5px 2rem 3rem rgba(55, 55, 55, 0.492);
  }

  .top {
    height: 60%;
  }
  .blur {
    height: 60%;
    padding-bottom: 2rem;
  }

  .nav-text {
    font-size: 1vw !important;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  .project-container {
    min-height: 35rem;
    width: 48%;
  }
  .welcome-section h2 {
    font-size: 2rem !important;
  }

  .welcome-section h1 {
    font-size: 2.5rem !important;
  }
  .my-imgs {
    height: 15rem;
    width: 15rem;
    background: linear-gradient(
      rgba(128, 0, 128, 0.704),
      rgba(255, 166, 0, 0.644)
    );
    box-shadow: 5px 2rem 3rem rgba(55, 55, 55, 0.492);
  }

  .top {
    height: 70%;
  }
  .blur {
    height: 70%;
    padding-bottom: 2rem;
  }

  .nav-text {
    font-size: 1vw !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .project-container {
    min-height: 35rem;
    width: 40%;
  }
  .welcome-section h2 {
    font-size: 3rem !important;
  }

  .welcome-section h1 {
    font-size: 3.5rem !important;
  }
  .my-imgs {
    height: 20rem;
    width: 20rem;
    background: linear-gradient(
      rgba(128, 0, 128, 0.704),
      rgba(255, 166, 0, 0.644)
    );
    box-shadow: 5px 2rem 3rem rgba(55, 55, 55, 0.492);
  }

  .top {
    height: 70%;
  }
  .blur {
    height: 70%;
    padding-bottom: 2rem;
  }

  .nav-text {
    font-size: 1vw !important;
  }
}
